/**
 *
 * {{ properCase name }}
 *
 */


import cx from 'clsx';
import { useStyles } from './{{ properCase name }}.styles';

export interface {{ properCase name }}Props {
}
export const {{ properCase name }} =({}: {{ properCase name }}Props) => {
  const classes = useStyles({ });
  return (
    <div data-beautify-{{ lowerCase name }} className={cx(classes.{{ lowerCase name }})}>
     {{ lowerCase name }}
    </div>
  );
}
{{ properCase name }}.displayName = '@beautify/core/{{ properCase name }}';
