import { FC } from 'react';
import Layout from '@layouts/index';
import {{component}} from '@components/{{component}}';

const {{pascalCase name}}: FC = () => {
  return (
    <Layout>
      <div className='container mx-auto'>
        <{{component}} />
      </div>
    </Layout>
  );
};

export default {{pascalCase name}};

